




<div class="register-box">
  <div class="register-logo">

    <%= render('devise/shared/logo') %>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Inscrivez-vous gratuitement!</p>

   
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group has-feedback">
        <!-- <input type="text" class="form-control" placeholder="Full name"> -->
         <%= f.text_field :login, autofocus: true , class: "form-control", placeholder: "Nom d'utilisateur"%>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <!-- <input type="text" class="form-control" placeholder="Full name"> -->
         <%= f.text_field :company, autofocus: true , class: "form-control", placeholder: "Entreprise"%>
        <span class="glyphicon glyphicon-home form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <!-- <input type="email" class="form-control" placeholder="Email"> -->
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <!-- <input type="password" class="form-control" placeholder="Password"> -->
        <%= f.password_field :password, autocomplete: "off", class: "form-control",  placeholder: "Mot de passe" %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <!-- <input type="password" class="form-control" placeholder="Retype password"> -->
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control",  placeholder: "Confirmation du mot de passe" %>
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> J'accepte les <a href="#">conditions ..</a>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <!-- <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button> -->
           <%= f.submit "S'inscrire", class: "btn bg-purple btn-block" %>
        </div>
        <!-- /.col -->
      </div>
   <% end %>

    <div class="social-auth-links text-center">
     <!--  <p>- OU -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using
        Google+</a> -->
    </div>

    <div class ="text-center">
       Déjà un compte?
     <%= render "devise/shared/login" %>
     </div>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->
