<% @properties.each do |property| %>
    <tr>
      
      <td><%= property.name %></td>
      <td><%= property.type %></td>
      <td><%= property.city %></td>
      <td><%= property.neighborhood %></td>
      <td><%= property.status %></td>
                              
     
     

  <td>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">GERER
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        
        <li>
            <%= link_to raw('<i class="fa fa-pencil-square-o" aria-hidden="true"> Modifier</i>'),edit_property_path(property), remote: true , "data-toggle"=>"tooltip", "data-placement"=>"top", title:"Modifier"%>
        <li>

          <li>
            <%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"> Supprimer</i>'), property_delete_path(property),:remote => true, class: "red-text" , "data-toggle"=>"tooltip", "data-placement"=>"top", title:"Supprimer"%>
            </li>
          
        
      </ul>
    </div>
  </td>
    </tr>
<% end %>