
	<div class="jumbotron text-center">
		<div class="container">
			<div class="jumbotron-text">
			  <h1>Promouvoir, vendre, acheter... </h1>
			  <p>Ateliers, séminaires, cérémonies, conférences, concerts et festivals, sport, promotions, rencontres etc...</p>
		 
			</div>
		    <div class="jumbotron-form text-center">
				<%= form_tag("/search", method: "get", class: "search-form") do %>

				<div class="row">

					
						<div class="col-md-2">
							<div class="form-group">
					  		<%= select_tag :property_type, options_from_collection_for_select(@property_types, :id, :name), {prompt:"Ex. Appartement" , class: "form-control"} %>
					  		</div>
					  	</div>

					  	<div class="col-md-2">
					  		<div class="form-group">
					  		<%= select_tag(:contract_type, options_from_collection_for_select(@property_types, :id, :name), {prompt:"Ex. Vente" , class: "form-control"})%>
					  		</div>
					  	</div>

					  	<div class="col-md-2">
					  		<div class="form-group">
					  			<%= number_field_tag(:q, nil,  class: "form-control", placeholder: "Prix") %>
					  		</div>
					  	</div>
					  	<div class="col-md-2">
					  		<div class="form-group">
					  		<%= text_field_tag(:q, nil,  class: "form-control", placeholder: "Ex. Bamako") %>
					  		</div>
					  	</div>

					  	<div class="col-md-2">
					  		<div class="form-group">
								
					  			<%= text_field_tag(:q, nil,  class: "form-control", placeholder: "Ex. Kalaban Coura") %>
					  		</div>
					  	</div>
						<div class="col-md-2">
							<div class="form-group">
					  			<%= submit_tag("Search", class: "btn bg-maroon btn-block btn-flat") %>
							</div>
						</div>

				

				  
				  </div>
				<% end %>
				
			</div>
		</div>
	</div>

	


<!-- FEATURED SECTION -->
<div class="section-featured">
<div class="container">
		<div class="section-title">
			<h2>En vedette</h2>
		</div>

		<div class="row">

			<% @featured.each do |e| %>
				<div class="col-md-4">	
					<div class="property-itm">
						<div class="property-thumbnail">
							<%= image_tag e.thumbnail.url(:medium) %>	
						</div>
						<div class="property-title">
							<h4><%= link_to e.name, property_path(e) %></h4>
						</div>
						<%= e.city %>
					    <%= e.user_id  %>
					</div>
				</div>


			<% end %> 
		</div>

		 <div class="row page-navi">
      <%= will_paginate @featured, previous_label: "Précédent",next_label: "Suivant",  renderer: BootstrapPagination::Rails %>
        
    </div>

</div>
</div>